In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r"Downloads/telecom.csv")

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [6]:
df.drop('customerID',axis=1,inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
encoder=OneHotEncoder()
encoder.fit(df[['gender']])

OneHotEncoder()

In [10]:
gen=encoder.transform(df[['gender']])

In [11]:
gen=gen.astype(int)

In [12]:
df.drop(df[['gender']],axis=1,inplace=True)

In [13]:
df_gen=pd.DataFrame(gen.toarray(),columns=['Male','Female'])

In [14]:
df=pd.concat([df,df_gen],axis=1)

In [15]:
y=df['Churn']

In [16]:
df.drop('Churn',inplace=True,axis=1)

In [17]:
df

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Male,Female
0,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,1,0
1,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,0,1
2,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,0,1
3,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0,1
4,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,0,1
7039,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,1,0
7040,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,1,0
7041,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,0,1
7042,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,0,1

In [18]:
df.corr()

C:\Users\Love Tiwadi\AppData\Local\Temp\ipykernel_16088\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                SeniorCitizen    tenure  MonthlyCharges      Male    Female
SeniorCitizen        1.000000  0.016567        0.220173  0.001874 -0.001874
tenure               0.016567  1.000000        0.247900 -0.005106  0.005106
MonthlyCharges       0.220173  0.247900        1.000000  0.014569 -0.014569
Male                 0.001874 -0.005106        0.014569  1.000000 -1.000000
Female              -0.001874  0.005106       -0.014569 -1.000000  1.000000

In [19]:
df.MultipleLines.unique()

array(['No phone service', 'No', 'Yes'], dtype=object)

In [20]:
encoder=OneHotEncoder()

In [21]:
encoder.fit(df[['MultipleLines']])

OneHotEncoder()

In [22]:
enc=encoder.transform(df[['MultipleLines']])

In [23]:
df_enc=pd.DataFrame(enc.toarray(),columns=encoder.get_feature_names_out())

In [24]:
df_enc=df_enc.astype(int)

In [25]:
df_enc

      MultipleLines_No  MultipleLines_No phone service  MultipleLines_Yes
0                    0                               1                  0
1                    1                               0                  0
2                    1                               0                  0
3                    0                               1                  0
4                    1                               0                  0
...                ...                             ...                ...
7038                 0                               0                  1
7039                 0                               0                  1
7040                 0                               1                  0
7041                 0                               0                  1
7042                 1                               0                  0

[7043 rows x 3 columns]

In [26]:
df=pd.concat([df,df_enc],axis=1)

In [27]:
df.drop('MultipleLines',axis=1,inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7043 non-null   int64
 1   Partner                         7043 non-null   object
 2   Dependents                      7043 non-null   object
 3   tenure                          7043 non-null   int64
 4   PhoneService                    7043 non-null   object
 5   InternetService                 7043 non-null   object
 6   OnlineSecurity                  7043 non-null   object
 7   OnlineBackup                    7043 non-null   object
 8   DeviceProtection                7043 non-null   object
 9   TechSupport                     7043 non-null   object
 10  StreamingTV                     7043 non-null   object
 11  StreamingMovies                 7043 non-null   object
 12  Contract                        7043 non-null   object
 13  PaperlessBilling                7043 non-null   object
 14  PaymentMethod                   7043 non-null   object
 15  MonthlyCharges                  7043 non-null   float64
 16  TotalCharges                    7043 non-null   object
 17  Male                            7043 non-null   int32
 18  Female                          7043 non-null   int32
 19  MultipleLines_No                7043 non-null   int32
 20  MultipleLines_No phone service  7043 non-null   int32
 21  MultipleLines_Yes               7043 non-null   int32
dtypes: float64(1), int32(5), int64(2), object(14)
memory usage: 1.0+ MB

In [29]:
e=[]
for i in df['TotalCharges']:
    e.append(float(i))

ValueError: could not convert string to float: ' '

In [30]:
len(e)

488

In [31]:
df[486:490]

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Male,Female,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes
486,0,No,No,15,Yes,Fiber optic,No,Yes,No,No,...,Month-to-month,Yes,Electronic check,100.15,1415,1,0,0,0,1
487,0,No,No,72,Yes,DSL,No,Yes,Yes,Yes,...,Two year,Yes,Bank transfer (automatic),88.60,6201.95,0,1,0,0,1
488,0,Yes,Yes,0,No,DSL,Yes,No,Yes,Yes,...,Two year,Yes,Bank transfer (automatic),52.55,,1,0,0,1,0
489,0,No,Yes,1,Yes,Fiber optic,No,No,No,No,...,Month-to-month,Yes,Electronic check,74.35,74.35,0,1,0,0,1

In [32]:
df.

SyntaxError: invalid syntax (791285630.py, line 1)

In [36]:
# df[df['TotalCharges']==' '].drop(axis=0,inplace=True)
df=df[df['TotalCharges'] != ' ']

In [37]:
df[df['TotalCharges']=='']

Empty DataFrame
Columns: [SeniorCitizen, Partner, Dependents, tenure, PhoneService, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Male, Female, MultipleLines_No, MultipleLines_No phone service, MultipleLines_Yes]
Index: []

[0 rows x 22 columns]

In [38]:
df['TotalCharges']=df['TotalCharges'].astype(float)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   Partner                         7032 non-null   object
 2   Dependents                      7032 non-null   object
 3   tenure                          7032 non-null   int64
 4   PhoneService                    7032 non-null   object
 5   InternetService                 7032 non-null   object
 6   OnlineSecurity                  7032 non-null   object
 7   OnlineBackup                    7032 non-null   object
 8   DeviceProtection                7032 non-null   object
 9   TechSupport                     7032 non-null   object
 10  StreamingTV                     7032 non-null   object
 11  StreamingMovies                 7032 non-null   object
 12  Contract                        7032 non-null   object
 13  PaperlessBilling                7032 non-null   object
 14  PaymentMethod                   7032 non-null   object
 15  MonthlyCharges                  7032 non-null   float64
 16  TotalCharges                    7032 non-null   float64
 17  Male                            7032 non-null   int32
 18  Female                          7032 non-null   int32
 19  MultipleLines_No                7032 non-null   int32
 20  MultipleLines_No phone service  7032 non-null   int32
 21  MultipleLines_Yes               7032 non-null   int32
dtypes: float64(2), int32(5), int64(2), object(13)
memory usage: 1.1+ MB

In [40]:
df['PaymentMethod'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [41]:
df.drop('PaymentMethod',axis=1,inplace=True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   Partner                         7032 non-null   object
 2   Dependents                      7032 non-null   object
 3   tenure                          7032 non-null   int64
 4   PhoneService                    7032 non-null   object
 5   InternetService                 7032 non-null   object
 6   OnlineSecurity                  7032 non-null   object
 7   OnlineBackup                    7032 non-null   object
 8   DeviceProtection                7032 non-null   object
 9   TechSupport                     7032 non-null   object
 10  StreamingTV                     7032 non-null   object
 11  StreamingMovies                 7032 non-null   object
 12  Contract                        7032 non-null   object
 13  PaperlessBilling                7032 non-null   object
 14  MonthlyCharges                  7032 non-null   float64
 15  TotalCharges                    7032 non-null   float64
 16  Male                            7032 non-null   int32
 17  Female                          7032 non-null   int32
 18  MultipleLines_No                7032 non-null   int32
 19  MultipleLines_No phone service  7032 non-null   int32
 20  MultipleLines_Yes               7032 non-null   int32
dtypes: float64(2), int32(5), int64(2), object(12)
memory usage: 1.0+ MB

In [43]:
df.Partner.unique()

array(['Yes', 'No'], dtype=object)

In [44]:
enc=OneHotEncoder()

In [45]:
enc.fit(df[['Partner']])

OneHotEncoder()

In [46]:
df_part=enc.transform(df[['Partner']])

In [47]:
df_part

<7032x2 sparse matrix of type '<class 'numpy.float64'>'
	with 7032 stored elements in Compressed Sparse Row format>

In [48]:
df

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Male,Female,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes
0,0,Yes,No,1,No,DSL,No,Yes,No,No,...,No,Month-to-month,Yes,29.85,29.85,1,0,0,1,0
1,0,No,No,34,Yes,DSL,Yes,No,Yes,No,...,No,One year,No,56.95,1889.50,0,1,1,0,0
2,0,No,No,2,Yes,DSL,Yes,Yes,No,No,...,No,Month-to-month,Yes,53.85,108.15,0,1,1,0,0
3,0,No,No,45,No,DSL,Yes,No,Yes,Yes,...,No,One year,No,42.30,1840.75,0,1,0,1,0
4,0,No,No,2,Yes,Fiber optic,No,No,No,No,...,No,Month-to-month,Yes,70.70,151.65,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,Yes,Yes,24,Yes,DSL,Yes,No,Yes,Yes,...,Yes,One year,Yes,84.80,1990.50,0,1,0,0,1
7039,0,Yes,Yes,72,Yes,Fiber optic,No,Yes,Yes,No,...,Yes,One year,Yes,103.20,7362.90,1,0,0,0,1
7040,0,Yes,Yes,11,No,DSL,Yes,No,No,No,...,No,Month-to-month,Yes,29.60,346.45,1,0,0,1,0
7041,1,Yes,No,4,Yes,Fiber optic,No,No,No,No,...,No,Month-to-month,Yes,74.40,306.60,0,1,0,0,1
7042,0,No,No,66,Yes,Fiber optic,Yes,No,Yes,Yes,...,Yes,Two year,Yes,105.65,6844.50,0,1,1,0,0

In [49]:
df_part=pd.DataFrame(df_part.toarray(),columns=enc.get_feature_names_out())

In [50]:
df_part=df_part.astype(int)

In [51]:
df_part

      Partner_No  Partner_Yes
0              0            1
1              1            0
2              1            0
3              1            0
4              1            0
...          ...          ...
7027           0            1
7028           0            1
7029           0            1
7030           0            1
7031           1            0

[7032 rows x 2 columns]

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   Partner                         7032 non-null   object
 2   Dependents                      7032 non-null   object
 3   tenure                          7032 non-null   int64
 4   PhoneService                    7032 non-null   object
 5   InternetService                 7032 non-null   object
 6   OnlineSecurity                  7032 non-null   object
 7   OnlineBackup                    7032 non-null   object
 8   DeviceProtection                7032 non-null   object
 9   TechSupport                     7032 non-null   object
 10  StreamingTV                     7032 non-null   object
 11  StreamingMovies                 7032 non-null   object
 12  Contract                        7032 non-null   object
 13  PaperlessBilling                7032 non-null   object
 14  MonthlyCharges                  7032 non-null   float64
 15  TotalCharges                    7032 non-null   float64
 16  Male                            7032 non-null   int32
 17  Female                          7032 non-null   int32
 18  MultipleLines_No                7032 non-null   int32
 19  MultipleLines_No phone service  7032 non-null   int32
 20  MultipleLines_Yes               7032 non-null   int32
dtypes: float64(2), int32(5), int64(2), object(12)
memory usage: 1.0+ MB

In [56]:
df=df.reset_index(drop=True)

In [57]:
df_part.index

RangeIndex(start=0, stop=7032, step=1)

In [58]:
df=pd.concat([df,df_part],axis=1)

In [59]:
# df.drop('Partner',axis=1,inplace=True)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   Partner                         7032 non-null   object
 2   Dependents                      7032 non-null   object
 3   tenure                          7032 non-null   int64
 4   PhoneService                    7032 non-null   object
 5   InternetService                 7032 non-null   object
 6   OnlineSecurity                  7032 non-null   object
 7   OnlineBackup                    7032 non-null   object
 8   DeviceProtection                7032 non-null   object
 9   TechSupport                     7032 non-null   object
 10  StreamingTV                     7032 non-null   object
 11  StreamingMovies                 7032 non-null   object
 12  Contract                        7032 non-null   object
 13  PaperlessBilling                7032 non-null   object
 14  MonthlyCharges                  7032 non-null   float64
 15  TotalCharges                    7032 non-null   float64
 16  Male                            7032 non-null   int32
 17  Female                          7032 non-null   int32
 18  MultipleLines_No                7032 non-null   int32
 19  MultipleLines_No phone service  7032 non-null   int32
 20  MultipleLines_Yes               7032 non-null   int32
 21  Partner_No                      7032 non-null   int32
 22  Partner_Yes                     7032 non-null   int32
dtypes: float64(2), int32(7), int64(2), object(12)
memory usage: 1.0+ MB

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   Partner                         7032 non-null   object
 2   Dependents                      7032 non-null   object
 3   tenure                          7032 non-null   int64
 4   PhoneService                    7032 non-null   object
 5   InternetService                 7032 non-null   object
 6   OnlineSecurity                  7032 non-null   object
 7   OnlineBackup                    7032 non-null   object
 8   DeviceProtection                7032 non-null   object
 9   TechSupport                     7032 non-null   object
 10  StreamingTV                     7032 non-null   object
 11  StreamingMovies                 7032 non-null   object
 12  Contract                        7032 non-null   object
 13  PaperlessBilling                7032 non-null   object
 14  MonthlyCharges                  7032 non-null   float64
 15  TotalCharges                    7032 non-null   float64
 16  Male                            7032 non-null   int32
 17  Female                          7032 non-null   int32
 18  MultipleLines_No                7032 non-null   int32
 19  MultipleLines_No phone service  7032 non-null   int32
 20  MultipleLines_Yes               7032 non-null   int32
 21  Partner_No                      7032 non-null   int32
 22  Partner_Yes                     7032 non-null   int32
dtypes: float64(2), int32(7), int64(2), object(12)
memory usage: 1.0+ MB

In [62]:
df.dropna(axis=0,inplace=True)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   Partner                         7032 non-null   object
 2   Dependents                      7032 non-null   object
 3   tenure                          7032 non-null   int64
 4   PhoneService                    7032 non-null   object
 5   InternetService                 7032 non-null   object
 6   OnlineSecurity                  7032 non-null   object
 7   OnlineBackup                    7032 non-null   object
 8   DeviceProtection                7032 non-null   object
 9   TechSupport                     7032 non-null   object
 10  StreamingTV                     7032 non-null   object
 11  StreamingMovies                 7032 non-null   object
 12  Contract                        7032 non-null   object
 13  PaperlessBilling                7032 non-null   object
 14  MonthlyCharges                  7032 non-null   float64
 15  TotalCharges                    7032 non-null   float64
 16  Male                            7032 non-null   int32
 17  Female                          7032 non-null   int32
 18  MultipleLines_No                7032 non-null   int32
 19  MultipleLines_No phone service  7032 non-null   int32
 20  MultipleLines_Yes               7032 non-null   int32
 21  Partner_No                      7032 non-null   int32
 22  Partner_Yes                     7032 non-null   int32
dtypes: float64(2), int32(7), int64(2), object(12)
memory usage: 1.0+ MB

In [64]:
df.drop('Partner',axis=1,inplace=True)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   Dependents                      7032 non-null   object
 2   tenure                          7032 non-null   int64
 3   PhoneService                    7032 non-null   object
 4   InternetService                 7032 non-null   object
 5   OnlineSecurity                  7032 non-null   object
 6   OnlineBackup                    7032 non-null   object
 7   DeviceProtection                7032 non-null   object
 8   TechSupport                     7032 non-null   object
 9   StreamingTV                     7032 non-null   object
 10  StreamingMovies                 7032 non-null   object
 11  Contract                        7032 non-null   object
 12  PaperlessBilling                7032 non-null   object
 13  MonthlyCharges                  7032 non-null   float64
 14  TotalCharges                    7032 non-null   float64
 15  Male                            7032 non-null   int32
 16  Female                          7032 non-null   int32
 17  MultipleLines_No                7032 non-null   int32
 18  MultipleLines_No phone service  7032 non-null   int32
 19  MultipleLines_Yes               7032 non-null   int32
 20  Partner_No                      7032 non-null   int32
 21  Partner_Yes                     7032 non-null   int32
dtypes: float64(2), int32(7), int64(2), object(11)
memory usage: 1016.5+ KB

In [66]:
df.Dependents.unique()

array(['No', 'Yes'], dtype=object)

In [67]:
enc=OneHotEncoder()
enc.fit(df[['Dependents']])

OneHotEncoder()

In [68]:
df_dep=enc.transform(df[['Dependents']])

In [69]:
df_dep=pd.DataFrame(df_dep.toarray(),columns=enc.get_feature_names_out())

In [70]:
df_dep=df_dep.astype(int)

In [71]:
df_dep

      Dependents_No  Dependents_Yes
0                 1               0
1                 1               0
2                 1               0
3                 1               0
4                 1               0
...             ...             ...
7027              0               1
7028              0               1
7029              0               1
7030              1               0
7031              1               0

[7032 rows x 2 columns]

In [72]:
df=pd.concat([df,df_dep],axis=1)

In [73]:
df

,SeniorCitizen,Dependents,tenure,PhoneService,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,...,TotalCharges,Male,Female,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes
0,0,No,1,No,DSL,No,Yes,No,No,No,...,29.85,1,0,0,1,0,0,1,1,0
1,0,No,34,Yes,DSL,Yes,No,Yes,No,No,...,1889.50,0,1,1,0,0,1,0,1,0
2,0,No,2,Yes,DSL,Yes,Yes,No,No,No,...,108.15,0,1,1,0,0,1,0,1,0
3,0,No,45,No,DSL,Yes,No,Yes,Yes,No,...,1840.75,0,1,0,1,0,1,0,1,0
4,0,No,2,Yes,Fiber optic,No,No,No,No,No,...,151.65,1,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,Yes,24,Yes,DSL,Yes,No,Yes,Yes,Yes,...,1990.50,0,1,0,0,1,0,1,0,1
7028,0,Yes,72,Yes,Fiber optic,No,Yes,Yes,No,Yes,...,7362.90,1,0,0,0,1,0,1,0,1
7029,0,Yes,11,No,DSL,Yes,No,No,No,No,...,346.45,1,0,0,1,0,0,1,0,1
7030,1,No,4,Yes,Fiber optic,No,No,No,No,No,...,306.60,0,1,0,0,1,0,1,1,0
7031,0,No,66,Yes,Fiber optic,Yes,No,Yes,Yes,Yes,...,6844.50,0,1,1,0,0,1,0,1,0

In [74]:
df.dropna(axis=0,inplace=True)

In [75]:
df

,SeniorCitizen,Dependents,tenure,PhoneService,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,...,TotalCharges,Male,Female,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes
0,0,No,1,No,DSL,No,Yes,No,No,No,...,29.85,1,0,0,1,0,0,1,1,0
1,0,No,34,Yes,DSL,Yes,No,Yes,No,No,...,1889.50,0,1,1,0,0,1,0,1,0
2,0,No,2,Yes,DSL,Yes,Yes,No,No,No,...,108.15,0,1,1,0,0,1,0,1,0
3,0,No,45,No,DSL,Yes,No,Yes,Yes,No,...,1840.75,0,1,0,1,0,1,0,1,0
4,0,No,2,Yes,Fiber optic,No,No,No,No,No,...,151.65,1,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,Yes,24,Yes,DSL,Yes,No,Yes,Yes,Yes,...,1990.50,0,1,0,0,1,0,1,0,1
7028,0,Yes,72,Yes,Fiber optic,No,Yes,Yes,No,Yes,...,7362.90,1,0,0,0,1,0,1,0,1
7029,0,Yes,11,No,DSL,Yes,No,No,No,No,...,346.45,1,0,0,1,0,0,1,0,1
7030,1,No,4,Yes,Fiber optic,No,No,No,No,No,...,306.60,0,1,0,0,1,0,1,1,0
7031,0,No,66,Yes,Fiber optic,Yes,No,Yes,Yes,Yes,...,6844.50,0,1,1,0,0,1,0,1,0

In [76]:
df.drop('Dependents',axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   tenure                          7032 non-null   int64
 2   PhoneService                    7032 non-null   object
 3   InternetService                 7032 non-null   object
 4   OnlineSecurity                  7032 non-null   object
 5   OnlineBackup                    7032 non-null   object
 6   DeviceProtection                7032 non-null   object
 7   TechSupport                     7032 non-null   object
 8   StreamingTV                     7032 non-null   object
 9   StreamingMovies                 7032 non-null   object
 10  Contract                        7032 non-null   object
 11  PaperlessBilling                7032 non-null   object
 12  MonthlyCharges                  7032 non-null   float64
 13  TotalCharges                    7032 non-null   float64
 14  Male                            7032 non-null   int32
 15  Female                          7032 non-null   int32
 16  MultipleLines_No                7032 non-null   int32
 17  MultipleLines_No phone service  7032 non-null   int32
 18  MultipleLines_Yes               7032 non-null   int32
 19  Partner_No                      7032 non-null   int32
 20  Partner_Yes                     7032 non-null   int32
 21  Dependents_No                   7032 non-null   int32
 22  Dependents_Yes                  7032 non-null   int32
dtypes: float64(2), int32(9), int64(2), object(10)
memory usage: 1016.5+ KB

In [77]:
df.PhoneService.unique()

array(['No', 'Yes'], dtype=object)

In [78]:
from sklearn.preprocessing import OneHotEncoder

In [79]:
encoder=OneHotEncoder()

In [80]:
encoder=encoder.fit(df[['PhoneService']])

In [81]:
encoder1=encoder.fit_transform(df[['PhoneService']])

In [82]:
encoder1=pd.DataFrame(encoder1.toarray(),columns=encoder.get_feature_names_out())

In [83]:
encoder1=encoder1.astype(int)

In [84]:
encoder1

      PhoneService_No  PhoneService_Yes
0                   1                 0
1                   0                 1
2                   0                 1
3                   1                 0
4                   0                 1
...               ...               ...
7027                0                 1
7028                0                 1
7029                1                 0
7030                0                 1
7031                0                 1

[7032 rows x 2 columns]

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   tenure                          7032 non-null   int64
 2   PhoneService                    7032 non-null   object
 3   InternetService                 7032 non-null   object
 4   OnlineSecurity                  7032 non-null   object
 5   OnlineBackup                    7032 non-null   object
 6   DeviceProtection                7032 non-null   object
 7   TechSupport                     7032 non-null   object
 8   StreamingTV                     7032 non-null   object
 9   StreamingMovies                 7032 non-null   object
 10  Contract                        7032 non-null   object
 11  PaperlessBilling                7032 non-null   object
 12  MonthlyCharges                  7032 non-null   float64
 13  TotalCharges                    7032 non-null   float64
 14  Male                            7032 non-null   int32
 15  Female                          7032 non-null   int32
 16  MultipleLines_No                7032 non-null   int32
 17  MultipleLines_No phone service  7032 non-null   int32
 18  MultipleLines_Yes               7032 non-null   int32
 19  Partner_No                      7032 non-null   int32
 20  Partner_Yes                     7032 non-null   int32
 21  Dependents_No                   7032 non-null   int32
 22  Dependents_Yes                  7032 non-null   int32
dtypes: float64(2), int32(9), int64(2), object(10)
memory usage: 1016.5+ KB

In [86]:
df.drop('PhoneService',axis=1,inplace=True)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   tenure                          7032 non-null   int64
 2   InternetService                 7032 non-null   object
 3   OnlineSecurity                  7032 non-null   object
 4   OnlineBackup                    7032 non-null   object
 5   DeviceProtection                7032 non-null   object
 6   TechSupport                     7032 non-null   object
 7   StreamingTV                     7032 non-null   object
 8   StreamingMovies                 7032 non-null   object
 9   Contract                        7032 non-null   object
 10  PaperlessBilling                7032 non-null   object
 11  MonthlyCharges                  7032 non-null   float64
 12  TotalCharges                    7032 non-null   float64
 13  Male                            7032 non-null   int32
 14  Female                          7032 non-null   int32
 15  MultipleLines_No                7032 non-null   int32
 16  MultipleLines_No phone service  7032 non-null   int32
 17  MultipleLines_Yes               7032 non-null   int32
 18  Partner_No                      7032 non-null   int32
 19  Partner_Yes                     7032 non-null   int32
 20  Dependents_No                   7032 non-null   int32
 21  Dependents_Yes                  7032 non-null   int32
dtypes: float64(2), int32(9), int64(2), object(9)
memory usage: 961.5+ KB

In [88]:
df=pd.concat([df,encoder1],axis=1)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   tenure                          7032 non-null   int64
 2   InternetService                 7032 non-null   object
 3   OnlineSecurity                  7032 non-null   object
 4   OnlineBackup                    7032 non-null   object
 5   DeviceProtection                7032 non-null   object
 6   TechSupport                     7032 non-null   object
 7   StreamingTV                     7032 non-null   object
 8   StreamingMovies                 7032 non-null   object
 9   Contract                        7032 non-null   object
 10  PaperlessBilling                7032 non-null   object
 11  MonthlyCharges                  7032 non-null   float64
 12  TotalCharges                    7032 non-null   float64
 13  Male                            7032 non-null   int32
 14  Female                          7032 non-null   int32
 15  MultipleLines_No                7032 non-null   int32
 16  MultipleLines_No phone service  7032 non-null   int32
 17  MultipleLines_Yes               7032 non-null   int32
 18  Partner_No                      7032 non-null   int32
 19  Partner_Yes                     7032 non-null   int32
 20  Dependents_No                   7032 non-null   int32
 21  Dependents_Yes                  7032 non-null   int32
 22  PhoneService_No                 7032 non-null   int32
 23  PhoneService_Yes                7032 non-null   int32
dtypes: float64(2), int32(11), int64(2), object(9)
memory usage: 1016.5+ KB

In [90]:
df.dropna(axis=0,inplace=True)

In [91]:
df

,SeniorCitizen,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,...,Female,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes
0,0,1,DSL,No,Yes,No,No,No,No,Month-to-month,...,0,0,1,0,0,1,1,0,1,0
1,0,34,DSL,Yes,No,Yes,No,No,No,One year,...,1,1,0,0,1,0,1,0,0,1
2,0,2,DSL,Yes,Yes,No,No,No,No,Month-to-month,...,1,1,0,0,1,0,1,0,0,1
3,0,45,DSL,Yes,No,Yes,Yes,No,No,One year,...,1,0,1,0,1,0,1,0,1,0
4,0,2,Fiber optic,No,No,No,No,No,No,Month-to-month,...,0,1,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,24,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,...,1,0,0,1,0,1,0,1,0,1
7028,0,72,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,...,0,0,0,1,0,1,0,1,0,1
7029,0,11,DSL,Yes,No,No,No,No,No,Month-to-month,...,0,0,1,0,0,1,0,1,1,0
7030,1,4,Fiber optic,No,No,No,No,No,No,Month-to-month,...,1,0,0,1,0,1,1,0,0,1
7031,0,66,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,...,1,1,0,0,1,0,1,0,0,1

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   tenure                          7032 non-null   int64
 2   InternetService                 7032 non-null   object
 3   OnlineSecurity                  7032 non-null   object
 4   OnlineBackup                    7032 non-null   object
 5   DeviceProtection                7032 non-null   object
 6   TechSupport                     7032 non-null   object
 7   StreamingTV                     7032 non-null   object
 8   StreamingMovies                 7032 non-null   object
 9   Contract                        7032 non-null   object
 10  PaperlessBilling                7032 non-null   object
 11  MonthlyCharges                  7032 non-null   float64
 12  TotalCharges                    7032 non-null   float64
 13  Male                            7032 non-null   int32
 14  Female                          7032 non-null   int32
 15  MultipleLines_No                7032 non-null   int32
 16  MultipleLines_No phone service  7032 non-null   int32
 17  MultipleLines_Yes               7032 non-null   int32
 18  Partner_No                      7032 non-null   int32
 19  Partner_Yes                     7032 non-null   int32
 20  Dependents_No                   7032 non-null   int32
 21  Dependents_Yes                  7032 non-null   int32
 22  PhoneService_No                 7032 non-null   int32
 23  PhoneService_Yes                7032 non-null   int32
dtypes: float64(2), int32(11), int64(2), object(9)
memory usage: 1016.5+ KB

In [93]:
df['PaperlessBilling'].unique()

array(['Yes', 'No'], dtype=object)

In [94]:
df.drop('PaperlessBilling',axis=1,inplace=True)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   tenure                          7032 non-null   int64
 2   InternetService                 7032 non-null   object
 3   OnlineSecurity                  7032 non-null   object
 4   OnlineBackup                    7032 non-null   object
 5   DeviceProtection                7032 non-null   object
 6   TechSupport                     7032 non-null   object
 7   StreamingTV                     7032 non-null   object
 8   StreamingMovies                 7032 non-null   object
 9   Contract                        7032 non-null   object
 10  MonthlyCharges                  7032 non-null   float64
 11  TotalCharges                    7032 non-null   float64
 12  Male                            7032 non-null   int32
 13  Female                          7032 non-null   int32
 14  MultipleLines_No                7032 non-null   int32
 15  MultipleLines_No phone service  7032 non-null   int32
 16  MultipleLines_Yes               7032 non-null   int32
 17  Partner_No                      7032 non-null   int32
 18  Partner_Yes                     7032 non-null   int32
 19  Dependents_No                   7032 non-null   int32
 20  Dependents_Yes                  7032 non-null   int32
 21  PhoneService_No                 7032 non-null   int32
 22  PhoneService_Yes                7032 non-null   int32
dtypes: float64(2), int32(11), int64(2), object(8)
memory usage: 961.5+ KB

In [96]:
df.InternetService.unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [97]:
enc=OneHotEncoder()

In [98]:
enc=enc.fit(df[['InternetService']])

In [99]:
arra=enc.transform(df[['InternetService']])

In [100]:
type(arra)

scipy.sparse._csr.csr_matrix

In [101]:
arra=pd.DataFrame(arra.toarray(),columns=enc.get_feature_names_out())

In [102]:
arra=arra.astype(int)

In [103]:
arra

      InternetService_DSL  InternetService_Fiber optic  InternetService_No
0                       1                            0                   0
1                       1                            0                   0
2                       1                            0                   0
3                       1                            0                   0
4                       0                            1                   0
...                   ...                          ...                 ...
7027                    1                            0                   0
7028                    0                            1                   0
7029                    1                            0                   0
7030                    0                            1                   0
7031                    0                            1                   0

[7032 rows x 3 columns]

In [104]:
df

,SeniorCitizen,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,...,Female,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes
0,0,1,DSL,No,Yes,No,No,No,No,Month-to-month,...,0,0,1,0,0,1,1,0,1,0
1,0,34,DSL,Yes,No,Yes,No,No,No,One year,...,1,1,0,0,1,0,1,0,0,1
2,0,2,DSL,Yes,Yes,No,No,No,No,Month-to-month,...,1,1,0,0,1,0,1,0,0,1
3,0,45,DSL,Yes,No,Yes,Yes,No,No,One year,...,1,0,1,0,1,0,1,0,1,0
4,0,2,Fiber optic,No,No,No,No,No,No,Month-to-month,...,0,1,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,24,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,...,1,0,0,1,0,1,0,1,0,1
7028,0,72,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,...,0,0,0,1,0,1,0,1,0,1
7029,0,11,DSL,Yes,No,No,No,No,No,Month-to-month,...,0,0,1,0,0,1,0,1,1,0
7030,1,4,Fiber optic,No,No,No,No,No,No,Month-to-month,...,1,0,0,1,0,1,1,0,0,1
7031,0,66,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,...,1,1,0,0,1,0,1,0,0,1

In [105]:
df=pd.concat([df,arra],axis=1)

In [106]:
df

,SeniorCitizen,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,...,MultipleLines_Yes,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,InternetService_DSL,InternetService_Fiber optic,InternetService_No
0,0,1,DSL,No,Yes,No,No,No,No,Month-to-month,...,0,0,1,1,0,1,0,1,0,0
1,0,34,DSL,Yes,No,Yes,No,No,No,One year,...,0,1,0,1,0,0,1,1,0,0
2,0,2,DSL,Yes,Yes,No,No,No,No,Month-to-month,...,0,1,0,1,0,0,1,1,0,0
3,0,45,DSL,Yes,No,Yes,Yes,No,No,One year,...,0,1,0,1,0,1,0,1,0,0
4,0,2,Fiber optic,No,No,No,No,No,No,Month-to-month,...,0,1,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,24,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,...,1,0,1,0,1,0,1,1,0,0
7028,0,72,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,...,1,0,1,0,1,0,1,0,1,0
7029,0,11,DSL,Yes,No,No,No,No,No,Month-to-month,...,0,0,1,0,1,1,0,1,0,0
7030,1,4,Fiber optic,No,No,No,No,No,No,Month-to-month,...,1,0,1,1,0,0,1,0,1,0
7031,0,66,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,...,0,1,0,1,0,0,1,0,1,0

In [107]:
df.dropna(axis=0,inplace=True)

In [108]:
df

,SeniorCitizen,tenure,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,...,MultipleLines_Yes,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,InternetService_DSL,InternetService_Fiber optic,InternetService_No
0,0,1,DSL,No,Yes,No,No,No,No,Month-to-month,...,0,0,1,1,0,1,0,1,0,0
1,0,34,DSL,Yes,No,Yes,No,No,No,One year,...,0,1,0,1,0,0,1,1,0,0
2,0,2,DSL,Yes,Yes,No,No,No,No,Month-to-month,...,0,1,0,1,0,0,1,1,0,0
3,0,45,DSL,Yes,No,Yes,Yes,No,No,One year,...,0,1,0,1,0,1,0,1,0,0
4,0,2,Fiber optic,No,No,No,No,No,No,Month-to-month,...,0,1,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,24,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,...,1,0,1,0,1,0,1,1,0,0
7028,0,72,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,...,1,0,1,0,1,0,1,0,1,0
7029,0,11,DSL,Yes,No,No,No,No,No,Month-to-month,...,0,0,1,0,1,1,0,1,0,0
7030,1,4,Fiber optic,No,No,No,No,No,No,Month-to-month,...,1,0,1,1,0,0,1,0,1,0
7031,0,66,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,...,0,1,0,1,0,0,1,0,1,0

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   tenure                          7032 non-null   int64
 2   InternetService                 7032 non-null   object
 3   OnlineSecurity                  7032 non-null   object
 4   OnlineBackup                    7032 non-null   object
 5   DeviceProtection                7032 non-null   object
 6   TechSupport                     7032 non-null   object
 7   StreamingTV                     7032 non-null   object
 8   StreamingMovies                 7032 non-null   object
 9   Contract                        7032 non-null   object
 10  MonthlyCharges                  7032 non-null   float64
 11  TotalCharges                    7032 non-null   float64
 12  Male                            7032 non-null   int32
 13  Female                          7032 non-null   int32
 14  MultipleLines_No                7032 non-null   int32
 15  MultipleLines_No phone service  7032 non-null   int32
 16  MultipleLines_Yes               7032 non-null   int32
 17  Partner_No                      7032 non-null   int32
 18  Partner_Yes                     7032 non-null   int32
 19  Dependents_No                   7032 non-null   int32
 20  Dependents_Yes                  7032 non-null   int32
 21  PhoneService_No                 7032 non-null   int32
 22  PhoneService_Yes                7032 non-null   int32
 23  InternetService_DSL             7032 non-null   int32
 24  InternetService_Fiber optic     7032 non-null   int32
 25  InternetService_No              7032 non-null   int32
dtypes: float64(2), int32(14), int64(2), object(8)
memory usage: 1.0+ MB

In [110]:
df.drop('InternetService',axis=1,inplace=True)

In [111]:
df

,SeniorCitizen,tenure,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,...,MultipleLines_Yes,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,InternetService_DSL,InternetService_Fiber optic,InternetService_No
0,0,1,No,Yes,No,No,No,No,Month-to-month,29.85,...,0,0,1,1,0,1,0,1,0,0
1,0,34,Yes,No,Yes,No,No,No,One year,56.95,...,0,1,0,1,0,0,1,1,0,0
2,0,2,Yes,Yes,No,No,No,No,Month-to-month,53.85,...,0,1,0,1,0,0,1,1,0,0
3,0,45,Yes,No,Yes,Yes,No,No,One year,42.30,...,0,1,0,1,0,1,0,1,0,0
4,0,2,No,No,No,No,No,No,Month-to-month,70.70,...,0,1,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,24,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,...,1,0,1,0,1,0,1,1,0,0
7028,0,72,No,Yes,Yes,No,Yes,Yes,One year,103.20,...,1,0,1,0,1,0,1,0,1,0
7029,0,11,Yes,No,No,No,No,No,Month-to-month,29.60,...,0,0,1,0,1,1,0,1,0,0
7030,1,4,No,No,No,No,No,No,Month-to-month,74.40,...,1,0,1,1,0,0,1,0,1,0
7031,0,66,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,...,0,1,0,1,0,0,1,0,1,0

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   tenure                          7032 non-null   int64
 2   OnlineSecurity                  7032 non-null   object
 3   OnlineBackup                    7032 non-null   object
 4   DeviceProtection                7032 non-null   object
 5   TechSupport                     7032 non-null   object
 6   StreamingTV                     7032 non-null   object
 7   StreamingMovies                 7032 non-null   object
 8   Contract                        7032 non-null   object
 9   MonthlyCharges                  7032 non-null   float64
 10  TotalCharges                    7032 non-null   float64
 11  Male                            7032 non-null   int32
 12  Female                          7032 non-null   int32
 13  MultipleLines_No                7032 non-null   int32
 14  MultipleLines_No phone service  7032 non-null   int32
 15  MultipleLines_Yes               7032 non-null   int32
 16  Partner_No                      7032 non-null   int32
 17  Partner_Yes                     7032 non-null   int32
 18  Dependents_No                   7032 non-null   int32
 19  Dependents_Yes                  7032 non-null   int32
 20  PhoneService_No                 7032 non-null   int32
 21  PhoneService_Yes                7032 non-null   int32
 22  InternetService_DSL             7032 non-null   int32
 23  InternetService_Fiber optic     7032 non-null   int32
 24  InternetService_No              7032 non-null   int32
dtypes: float64(2), int32(14), int64(2), object(7)
memory usage: 989.0+ KB

In [113]:
df.drop(['OnlineBackup'],axis=1,inplace=True)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   tenure                          7032 non-null   int64
 2   OnlineSecurity                  7032 non-null   object
 3   DeviceProtection                7032 non-null   object
 4   TechSupport                     7032 non-null   object
 5   StreamingTV                     7032 non-null   object
 6   StreamingMovies                 7032 non-null   object
 7   Contract                        7032 non-null   object
 8   MonthlyCharges                  7032 non-null   float64
 9   TotalCharges                    7032 non-null   float64
 10  Male                            7032 non-null   int32
 11  Female                          7032 non-null   int32
 12  MultipleLines_No                7032 non-null   int32
 13  MultipleLines_No phone service  7032 non-null   int32
 14  MultipleLines_Yes               7032 non-null   int32
 15  Partner_No                      7032 non-null   int32
 16  Partner_Yes                     7032 non-null   int32
 17  Dependents_No                   7032 non-null   int32
 18  Dependents_Yes                  7032 non-null   int32
 19  PhoneService_No                 7032 non-null   int32
 20  PhoneService_Yes                7032 non-null   int32
 21  InternetService_DSL             7032 non-null   int32
 22  InternetService_Fiber optic     7032 non-null   int32
 23  InternetService_No              7032 non-null   int32
dtypes: float64(2), int32(14), int64(2), object(6)
memory usage: 934.1+ KB

In [115]:
df.drop('StreamingTV',axis=1,inplace=True)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   tenure                          7032 non-null   int64
 2   OnlineSecurity                  7032 non-null   object
 3   DeviceProtection                7032 non-null   object
 4   TechSupport                     7032 non-null   object
 5   StreamingMovies                 7032 non-null   object
 6   Contract                        7032 non-null   object
 7   MonthlyCharges                  7032 non-null   float64
 8   TotalCharges                    7032 non-null   float64
 9   Male                            7032 non-null   int32
 10  Female                          7032 non-null   int32
 11  MultipleLines_No                7032 non-null   int32
 12  MultipleLines_No phone service  7032 non-null   int32
 13  MultipleLines_Yes               7032 non-null   int32
 14  Partner_No                      7032 non-null   int32
 15  Partner_Yes                     7032 non-null   int32
 16  Dependents_No                   7032 non-null   int32
 17  Dependents_Yes                  7032 non-null   int32
 18  PhoneService_No                 7032 non-null   int32
 19  PhoneService_Yes                7032 non-null   int32
 20  InternetService_DSL             7032 non-null   int32
 21  InternetService_Fiber optic     7032 non-null   int32
 22  InternetService_No              7032 non-null   int32
dtypes: float64(2), int32(14), int64(2), object(5)
memory usage: 879.1+ KB

In [117]:
df.drop('Contract',axis=1,inplace=True)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   tenure                          7032 non-null   int64
 2   OnlineSecurity                  7032 non-null   object
 3   DeviceProtection                7032 non-null   object
 4   TechSupport                     7032 non-null   object
 5   StreamingMovies                 7032 non-null   object
 6   MonthlyCharges                  7032 non-null   float64
 7   TotalCharges                    7032 non-null   float64
 8   Male                            7032 non-null   int32
 9   Female                          7032 non-null   int32
 10  MultipleLines_No                7032 non-null   int32
 11  MultipleLines_No phone service  7032 non-null   int32
 12  MultipleLines_Yes               7032 non-null   int32
 13  Partner_No                      7032 non-null   int32
 14  Partner_Yes                     7032 non-null   int32
 15  Dependents_No                   7032 non-null   int32
 16  Dependents_Yes                  7032 non-null   int32
 17  PhoneService_No                 7032 non-null   int32
 18  PhoneService_Yes                7032 non-null   int32
 19  InternetService_DSL             7032 non-null   int32
 20  InternetService_Fiber optic     7032 non-null   int32
 21  InternetService_No              7032 non-null   int32
dtypes: float64(2), int32(14), int64(2), object(4)
memory usage: 824.2+ KB

In [119]:
df.OnlineSecurity.unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [120]:
encoder=OneHotEncoder()

In [121]:
enc=encoder.fit(df[['OnlineSecurity']])

In [122]:
enc=encoder.transform(df[['OnlineSecurity']])

In [123]:
enc=pd.DataFrame(enc.toarray(),columns=encoder.get_feature_names_out())

In [124]:
enc=enc.astype(int)

In [125]:
enc

,OnlineSecurity_No,OnlineSecurity_No internet service,OnlineSecurity_Yes
0,1,0,0
1,0,0,1
2,0,0,1
3,0,0,1
4,1,0,0
...,...,...,...
7027,0,0,1
7028,1,0,0
7029,0,0,1
7030,1,0,0
7031,0,0,1

In [126]:
df.drop('OnlineSecurity',axis=1,inplace=True)

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SeniorCitizen                   7032 non-null   int64
 1   tenure                          7032 non-null   int64
 2   DeviceProtection                7032 non-null   object
 3   TechSupport                     7032 non-null   object
 4   StreamingMovies                 7032 non-null   object
 5   MonthlyCharges                  7032 non-null   float64
 6   TotalCharges                    7032 non-null   float64
 7   Male                            7032 non-null   int32
 8   Female                          7032 non-null   int32
 9   MultipleLines_No                7032 non-null   int32
 10  MultipleLines_No phone service  7032 non-null   int32
 11  MultipleLines_Yes               7032 non-null   int32
 12  Partner_No                      7032 non-null   int32
 13  Partner_Yes                     7032 non-null   int32
 14  Dependents_No                   7032 non-null   int32
 15  Dependents_Yes                  7032 non-null   int32
 16  PhoneService_No                 7032 non-null   int32
 17  PhoneService_Yes                7032 non-null   int32
 18  InternetService_DSL             7032 non-null   int32
 19  InternetService_Fiber optic     7032 non-null   int32
 20  InternetService_No              7032 non-null   int32
dtypes: float64(2), int32(14), int64(2), object(3)
memory usage: 769.2+ KB

In [128]:
df=pd.concat([df,enc],axis=1)

In [129]:
df

,SeniorCitizen,tenure,DeviceProtection,TechSupport,StreamingMovies,MonthlyCharges,TotalCharges,Male,Female,MultipleLines_No,...,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,InternetService_DSL,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No,OnlineSecurity_No internet service,OnlineSecurity_Yes
0,0,1,No,No,No,29.85,29.85,1,0,0,...,1,0,1,0,1,0,0,1,0,0
1,0,34,Yes,No,No,56.95,1889.50,0,1,1,...,1,0,0,1,1,0,0,0,0,1
2,0,2,No,No,No,53.85,108.15,0,1,1,...,1,0,0,1,1,0,0,0,0,1
3,0,45,Yes,Yes,No,42.30,1840.75,0,1,0,...,1,0,1,0,1,0,0,0,0,1
4,0,2,No,No,No,70.70,151.65,1,0,1,...,1,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,24,Yes,Yes,Yes,84.80,1990.50,0,1,0,...,0,1,0,1,1,0,0,0,0,1
7028,0,72,Yes,No,Yes,103.20,7362.90,1,0,0,...,0,1,0,1,0,1,0,1,0,0
7029,0,11,No,No,No,29.60,346.45,1,0,0,...,0,1,1,0,1,0,0,0,0,1
7030,1,4,No,No,No,74.40,306.60,0,1,0,...,1,0,0,1,0,1,0,1,0,0
7031,0,66,Yes,Yes,Yes,105.65,6844.50,0,1,1,...,1,0,0,1,0,1,0,0,0,1

In [130]:
df.dropna(axis=0,inplace=True)

In [131]:
df

,SeniorCitizen,tenure,DeviceProtection,TechSupport,StreamingMovies,MonthlyCharges,TotalCharges,Male,Female,MultipleLines_No,...,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,InternetService_DSL,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No,OnlineSecurity_No internet service,OnlineSecurity_Yes
0,0,1,No,No,No,29.85,29.85,1,0,0,...,1,0,1,0,1,0,0,1,0,0
1,0,34,Yes,No,No,56.95,1889.50,0,1,1,...,1,0,0,1,1,0,0,0,0,1
2,0,2,No,No,No,53.85,108.15,0,1,1,...,1,0,0,1,1,0,0,0,0,1
3,0,45,Yes,Yes,No,42.30,1840.75,0,1,0,...,1,0,1,0,1,0,0,0,0,1
4,0,2,No,No,No,70.70,151.65,1,0,1,...,1,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,24,Yes,Yes,Yes,84.80,1990.50,0,1,0,...,0,1,0,1,1,0,0,0,0,1
7028,0,72,Yes,No,Yes,103.20,7362.90,1,0,0,...,0,1,0,1,0,1,0,1,0,0
7029,0,11,No,No,No,29.60,346.45,1,0,0,...,0,1,1,0,1,0,0,0,0,1
7030,1,4,No,No,No,74.40,306.60,0,1,0,...,1,0,0,1,0,1,0,1,0,0
7031,0,66,Yes,Yes,Yes,105.65,6844.50,0,1,1,...,1,0,0,1,0,1,0,0,0,1

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 24 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   SeniorCitizen                       7032 non-null   int64
 1   tenure                              7032 non-null   int64
 2   DeviceProtection                    7032 non-null   object
 3   TechSupport                         7032 non-null   object
 4   StreamingMovies                     7032 non-null   object
 5   MonthlyCharges                      7032 non-null   float64
 6   TotalCharges                        7032 non-null   float64
 7   Male                                7032 non-null   int32
 8   Female                              7032 non-null   int32
 9   MultipleLines_No                    7032 non-null   int32
 10  MultipleLines_No phone service      7032 non-null   int32
 11  MultipleLines_Yes                   7032 non-null   int32
 12  Partner_No                          7032 non-null   int32
 13  Partner_Yes                         7032 non-null   int32
 14  Dependents_No                       7032 non-null   int32
 15  Dependents_Yes                      7032 non-null   int32
 16  PhoneService_No                     7032 non-null   int32
 17  PhoneService_Yes                    7032 non-null   int32
 18  InternetService_DSL                 7032 non-null   int32
 19  InternetService_Fiber optic         7032 non-null   int32
 20  InternetService_No                  7032 non-null   int32
 21  OnlineSecurity_No                   7032 non-null   int32
 22  OnlineSecurity_No internet service  7032 non-null   int32
 23  OnlineSecurity_Yes                  7032 non-null   int32
dtypes: float64(2), int32(17), int64(2), object(3)
memory usage: 851.7+ KB

In [133]:
df.drop('StreamingMovies',axis=1,inplace=True)

In [134]:
df

,SeniorCitizen,tenure,DeviceProtection,TechSupport,MonthlyCharges,TotalCharges,Male,Female,MultipleLines_No,MultipleLines_No phone service,...,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,InternetService_DSL,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No,OnlineSecurity_No internet service,OnlineSecurity_Yes
0,0,1,No,No,29.85,29.85,1,0,0,1,...,1,0,1,0,1,0,0,1,0,0
1,0,34,Yes,No,56.95,1889.50,0,1,1,0,...,1,0,0,1,1,0,0,0,0,1
2,0,2,No,No,53.85,108.15,0,1,1,0,...,1,0,0,1,1,0,0,0,0,1
3,0,45,Yes,Yes,42.30,1840.75,0,1,0,1,...,1,0,1,0,1,0,0,0,0,1
4,0,2,No,No,70.70,151.65,1,0,1,0,...,1,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,24,Yes,Yes,84.80,1990.50,0,1,0,0,...,0,1,0,1,1,0,0,0,0,1
7028,0,72,Yes,No,103.20,7362.90,1,0,0,0,...,0,1,0,1,0,1,0,1,0,0
7029,0,11,No,No,29.60,346.45,1,0,0,1,...,0,1,1,0,1,0,0,0,0,1
7030,1,4,No,No,74.40,306.60,0,1,0,0,...,1,0,0,1,0,1,0,1,0,0
7031,0,66,Yes,Yes,105.65,6844.50,0,1,1,0,...,1,0,0,1,0,1,0,0,0,1

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   SeniorCitizen                       7032 non-null   int64
 1   tenure                              7032 non-null   int64
 2   DeviceProtection                    7032 non-null   object
 3   TechSupport                         7032 non-null   object
 4   MonthlyCharges                      7032 non-null   float64
 5   TotalCharges                        7032 non-null   float64
 6   Male                                7032 non-null   int32
 7   Female                              7032 non-null   int32
 8   MultipleLines_No                    7032 non-null   int32
 9   MultipleLines_No phone service      7032 non-null   int32
 10  MultipleLines_Yes                   7032 non-null   int32
 11  Partner_No                          7032 non-null   int32
 12  Partner_Yes                         7032 non-null   int32
 13  Dependents_No                       7032 non-null   int32
 14  Dependents_Yes                      7032 non-null   int32
 15  PhoneService_No                     7032 non-null   int32
 16  PhoneService_Yes                    7032 non-null   int32
 17  InternetService_DSL                 7032 non-null   int32
 18  InternetService_Fiber optic         7032 non-null   int32
 19  InternetService_No                  7032 non-null   int32
 20  OnlineSecurity_No                   7032 non-null   int32
 21  OnlineSecurity_No internet service  7032 non-null   int32
 22  OnlineSecurity_Yes                  7032 non-null   int32
dtypes: float64(2), int32(17), int64(2), object(2)
memory usage: 796.7+ KB

In [136]:
df.drop('TechSupport',axis=1,inplace=True)

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 22 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   SeniorCitizen                       7032 non-null   int64
 1   tenure                              7032 non-null   int64
 2   DeviceProtection                    7032 non-null   object
 3   MonthlyCharges                      7032 non-null   float64
 4   TotalCharges                        7032 non-null   float64
 5   Male                                7032 non-null   int32
 6   Female                              7032 non-null   int32
 7   MultipleLines_No                    7032 non-null   int32
 8   MultipleLines_No phone service      7032 non-null   int32
 9   MultipleLines_Yes                   7032 non-null   int32
 10  Partner_No                          7032 non-null   int32
 11  Partner_Yes                         7032 non-null   int32
 12  Dependents_No                       7032 non-null   int32
 13  Dependents_Yes                      7032 non-null   int32
 14  PhoneService_No                     7032 non-null   int32
 15  PhoneService_Yes                    7032 non-null   int32
 16  InternetService_DSL                 7032 non-null   int32
 17  InternetService_Fiber optic         7032 non-null   int32
 18  InternetService_No                  7032 non-null   int32
 19  OnlineSecurity_No                   7032 non-null   int32
 20  OnlineSecurity_No internet service  7032 non-null   int32
 21  OnlineSecurity_Yes                  7032 non-null   int32
dtypes: float64(2), int32(17), int64(2), object(1)
memory usage: 741.8+ KB

In [138]:
df.DeviceProtection.unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [139]:
df.drop('DeviceProtection',axis=1,inplace=True)

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   SeniorCitizen                       7032 non-null   int64
 1   tenure                              7032 non-null   int64
 2   MonthlyCharges                      7032 non-null   float64
 3   TotalCharges                        7032 non-null   float64
 4   Male                                7032 non-null   int32
 5   Female                              7032 non-null   int32
 6   MultipleLines_No                    7032 non-null   int32
 7   MultipleLines_No phone service      7032 non-null   int32
 8   MultipleLines_Yes                   7032 non-null   int32
 9   Partner_No                          7032 non-null   int32
 10  Partner_Yes                         7032 non-null   int32
 11  Dependents_No                       7032 non-null   int32
 12  Dependents_Yes                      7032 non-null   int32
 13  PhoneService_No                     7032 non-null   int32
 14  PhoneService_Yes                    7032 non-null   int32
 15  InternetService_DSL                 7032 non-null   int32
 16  InternetService_Fiber optic         7032 non-null   int32
 17  InternetService_No                  7032 non-null   int32
 18  OnlineSecurity_No                   7032 non-null   int32
 19  OnlineSecurity_No internet service  7032 non-null   int32
 20  OnlineSecurity_Yes                  7032 non-null   int32
dtypes: float64(2), int32(17), int64(2)
memory usage: 686.8 KB

In [144]:
l1=[488, 753, 936, 1082, 1340, 3331, 3826, 4380, 5218, 6670, 6754]

In [146]:
for i in l1:
    y.drop(i,axis=0,inplace=True)

In [153]:
y.reset_index(drop=True)

0        No
1        No
2       Yes
3        No
4       Yes
       ...
7027     No
7028     No
7029     No
7030    Yes
7031     No
Name: Churn, Length: 7032, dtype: object

In [154]:
y=y.replace({"Yes":1,"No":0})

<class 'pandas.core.series.Series'>
Int64Index: 7032 entries, 0 to 7042
Series name: Churn
Non-Null Count  Dtype
--------------  -----
7032 non-null   int64
dtypes: int64(1)
memory usage: 109.9 KB

In [147]:
from sklearn.linear_model import LinearRegression

In [158]:
from sklearn.model_selection import train_test_split

In [159]:
x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.20,random_state=12)

In [160]:
model=LinearRegression()

In [161]:
model.fit(x_train,y_train)

LinearRegression()

In [162]:
pred=model.predict(x_test)

In [180]:
from sklearn.metrics import r2_score,accuracy_score

In [182]:
# accuracy_score(y_test,pred)

In [164]:
r2_score(y_test,pred)

0.22350383289098108

In [165]:
d=pd.DataFrame()

In [173]:
d['Actual']=y_test

In [174]:
d=d.reset_index(drop=True)

In [176]:
d['Predicted']=pred

In [177]:
d=d.reset_index(drop=True)

In [178]:
d

      Actual  Predicted
0          0  -0.009303
1          0   0.101436
2          0   0.531018
3          1   0.194891
4          0   0.283574
...      ...        ...
1402       1   0.366704
1403       1   0.044788
1404       1   0.179034
1405       0   0.348761
1406       0   0.098851

[1407 rows x 2 columns]

In [179]:
from sklearn.linear_model import LogisticRegression

In [183]:
model=LogisticRegression()

In [184]:
model.fit(x_train,y_train)

C:\Users\Love Tiwadi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [185]:
pred1=model.predict(x_test)

In [186]:
accuracy_score(y_test,pred1)

0.7938877043354655

In [187]:
d=pd.DataFrame()

In [188]:
d['Actual']=y_test

In [189]:
d=d.reset_index(drop=True)

In [190]:
d['Predict']=pred1

In [191]:
d.reset_index(drop=True)

      Actual  Predict
0          0        0
1          0        0
2          0        1
3          1        0
4          0        0
...      ...      ...
1402       1        0
1403       1        0
1404       1        0
1405       0        0
1406       0        0

[1407 rows x 2 columns]

In [192]:
from sklearn.metrics import confusion_matrix

In [193]:
confusion_matrix(y_test,pred1)

array([[945, 117],
       [173, 172]], dtype=int64)

In [194]:
accuracy_score(y_test,pred1)

0.7938877043354655